header {
    height: 100px;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 50px;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
    font-weight: bold;
}
div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
img {
    width: 300px;
    float: right;
    margin-right: 30px;
}
main {
    font-family: "Space Mono", monospace;
    height: 430px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    color: #333333;
}
p {
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}
button {
    /* color: #333333; */
    background-color: #333333;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 17px;
    font-size: 10px;
    margin-top: 20px;
}
footer {
    text-align: center;
    color: gray;
    font-size: 10px;
}